@charset "UTF-8";
/* CSS Document */
/* --- The outer div of search form. --- */
.card.card-block.search-form {
	margin: 10px auto 10px;
	padding-top: 10px;
	background-color: rgb(248, 248, 248);
	width: 60%;
}
/* --- The inner div of search form, making content closer. --- */
.wrapper {
	width: 80%;
	margin: auto;
}
/* --- For smartphone view. --- */
@media screen and (max-width:768px) {
	.card.card-block.search-form {
		width: 95%;
	}
	.wrapper {
		width: 100%;
	}
    .card-block.search-result {
        width: 95%;
    }

    .nav.nav-tabs > li {
        width: 20%;
        white-space: nowrap;
    }
    .nav.nav-tabs > li > a {
        padding-left: 2px;
        font-size: 0.8em;
    }
    .det-map {
        width: 95%;
    }
}


/* --- The required field. --- */
.star {
	color: red;
	font-size: 110%;
}


.card-results {
	margin: 20px 0 0 0;
    padding: 0;
	border: none;
}

.errorMsg {
	margin: 0;
	float: left;
	color: red;
	font-size: 12px;
	font-weight: 500;
	/* Need to change when show up.*/
	line-height: 0px;
	visibility: hidden;
}

.search-result {
	margin: 30px auto;
    width: 80%;
}

/* Google 来的文字table文字垂直居中。*/
.table > tbody > tr > th, .table > tbody > tr > td {
    vertical-align: middle;
    white-space: nowrap;
}

.btn.btn-outline-secondary.btn-sm{
	background-color: #FFFFFF !important;
}
.btn.btn-outline-secondary.btn-sm:hover,
.btn.btn-outline-secondary.btn-sm:active,
.btn.btn-outline-secondary.btn-sm:visited {
	background-color: #E9ECEF !important;
	color: #6C757D !important;
}


.pageBtn, .pageBtn:hover, .pageBtn:active, .pageBtn:visited {
    width: 90px !important;
	background-color: #FFFFFF !important;
	color: #6C757D !important;
}

/* Rating row*/
.rtg-wrap {
	display: -webkit-box;
}
.rtg-left,
.rtg-right {
	height: 100%;
	overflow: hidden;
}

/* END*/
.det-map {
	margin: 5px auto 30px;
    width: 100%;
}

.street-icon {
	width: 30px;
	height: 30px;
	border: 1px solid rgb(228, 228, 228);
	margin-left: 15px;
	margin-top: 15px;
}


.reviewCard {
	margin-bottom: 10px;
}


/* ---- Photo Grid ---- */

.grid {
	background: #FFFFFF;
	width: 24%
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
	width: 24%;
}
.grid-item {
	margin-bottom: 15px;
	/* --- Center pics ---- */
	line-height: 1em;
	float: left;
	position: relative;
}
@media screen and (max-width: 768px) {
	.grid {
		width: 99%;
	}
	.grid-item {
		width: 99%;
	}
}

.grid-item img {
	display: block;
	margin: 0 auto;
    max-width: 97%;
}

.grid-item img:after {
	clear: both;
}

/* Make btns in one line of the details page.*/
.inLineBtn {
    display: flex;
    justify-content: space-between;
}
